

/*Hero Section STARTED */

.shop-hero-section {
    background: url(/Images/cdc-_N7I1JyPYJw-unsplash.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        width: 100%;
        margin: 0 auto;
        color: white;
        
        @include desktop {
            width: 70%;
        }
        
        .hero-big-text {
            font-weight: 900;
        }

        .hero-subtext {
            font-weight: 500;
        }

        .hero-button {
            background-color: $green;
            border: none;
        }

    }
}


    // product section 

    .product-section {
       background-color: #ffffff;

       .product-heading {
           font-size: 25px;
           font-weight: 500;
           margin: 10px auto;
           text-decoration: underline;
           text-decoration-color: $green;
       }
    

    .product-post {
        text-align: left;

        .add-to-cart a {
           color: $green;
        }

        h4 {
            font-size: 18px;
            text-transform: capitalize;
            font-weight: bolder;
        }
   
      .product-price {
          font-size: 18px;

        .discount-price {
           color: gray;
           padding-right: 5px;
           text-decoration: line-through;
        }

        .real-price {
            color: $green!important;
            font-weight: 600;
        }
        
        .product-rating {
            color: $green;

            .fa-star {
                color: $green;
            }
        }
      }
        
    }

    }


    // Exclucive Section

    .exclusive-section {
        width: 100%;
        background: linear-gradient($green, transparent), url('/Images/woman-holding-red-book-binder-3762803.png');
        background-size: cover;
        background-position: center;

        .exclucive-title {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        img {
            height: 200px;
            width: 200px;
        }

          .exclusive-topic {
            font-size: 25px;
            font-weight: 900;
            padding-top: 10px;
            padding-bottom: 10px;
        }
             
        .star-rating {
            padding-bottom: 60px;
        }

    }

   

   