@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-success {
  color: #60d66a;
}

.body-container {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}

.body-container2 {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}

/*Hero Section STARTED */
.shop-hero-section {
  background: url(/Images/cdc-_N7I1JyPYJw-unsplash.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shop-hero-section .container {
  width: 100%;
  margin: 0 auto;
  color: white;
}

@media (min-width: 1200px) {
  .shop-hero-section .container {
    width: 70%;
  }
}

.shop-hero-section .container .hero-big-text {
  font-weight: 900;
}

.shop-hero-section .container .hero-subtext {
  font-weight: 500;
}

.shop-hero-section .container .hero-button {
  background-color: #60d66a;
  border: none;
}

.product-section {
  background-color: #ffffff;
}

.product-section .product-heading {
  font-size: 25px;
  font-weight: 500;
  margin: 10px auto;
  text-decoration: underline;
  -webkit-text-decoration-color: #60d66a;
          text-decoration-color: #60d66a;
}

.product-section .product-post {
  text-align: left;
}

.product-section .product-post .add-to-cart a {
  color: #60d66a;
}

.product-section .product-post h4 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bolder;
}

.product-section .product-post .product-price {
  font-size: 18px;
}

.product-section .product-post .product-price .discount-price {
  color: gray;
  padding-right: 5px;
  text-decoration: line-through;
}

.product-section .product-post .product-price .real-price {
  color: #60d66a !important;
  font-weight: 600;
}

.product-section .product-post .product-price .product-rating {
  color: #60d66a;
}

.product-section .product-post .product-price .product-rating .fa-star {
  color: #60d66a;
}

.exclusive-section {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#60d66a), to(transparent)), url("/Images/woman-holding-red-book-binder-3762803.png");
  background: linear-gradient(#60d66a, transparent), url("/Images/woman-holding-red-book-binder-3762803.png");
  background-size: cover;
  background-position: center;
}

.exclusive-section .exclucive-title {
  padding-top: 60px;
  padding-bottom: 40px;
}

.exclusive-section img {
  height: 200px;
  width: 200px;
}

.exclusive-section .exclusive-topic {
  font-size: 25px;
  font-weight: 900;
  padding-top: 10px;
  padding-bottom: 10px;
}

.exclusive-section .star-rating {
  padding-bottom: 60px;
}

/*Hero Section STARTED */
.podcast-hero-section {
  background: url(/Images/greyscale-photography-of-condenser-microphone-765139.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.podcast-hero-section .container {
  width: 100%;
  margin: 0 auto;
  color: white;
}

@media (min-width: 1200px) {
  .podcast-hero-section .container {
    width: 70%;
  }
}

.podcast-hero-section .container .hero-big-text {
  font-weight: 900;
}

.podcast-hero-section .container .hero-subtext {
  font-weight: 500;
}

.podcast-hero-section .container .hero-button {
  background-color: #60d66a;
  border: none;
}

.exclusive-section {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#60d66a), to(transparent)), url("/Images/woman-holding-red-book-binder-3762803.png");
  background: linear-gradient(#60d66a, transparent), url("/Images/woman-holding-red-book-binder-3762803.png");
  background-size: cover;
  background-position: center;
}

.exclusive-section .exclucive-title {
  padding-top: 60px;
  padding-bottom: 40px;
}

.exclusive-section img {
  height: 200px;
  width: 200px;
}

.exclusive-section .exclusive-topic {
  font-size: 25px;
  font-weight: 900;
  padding-top: 10px;
  padding-bottom: 10px;
}

.exclusive-section .star-rating {
  padding-bottom: 60px;
}

.writer-date, .read-more {
  display: block;
}

/*Hero Section STARTED */
.forum-hero-section {
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(transparent)), url(/Images/adult-african-american-people-black-women-business-1181605.png);
  background: linear-gradient(#000000, transparent), url(/Images/adult-african-american-people-black-women-business-1181605.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.forum-hero-section form {
  width: 100%;
}

.forum-hero-section form input {
  margin-top: 5px;
  background: none;
}

.forum-hero-section form input::-webkit-input-placeholder {
  color: #60d66a;
  font-weight: 700;
}

.forum-hero-section form input:-ms-input-placeholder {
  color: #60d66a;
  font-weight: 700;
}

.forum-hero-section form input::-ms-input-placeholder {
  color: #60d66a;
  font-weight: 700;
}

.forum-hero-section form input::placeholder {
  color: #60d66a;
  font-weight: 700;
}

.forum-hero-section form .forum-formButton {
  background: #60d66a;
  text-transform: uppercase;
  font-size: 22px;
  border: none;
  width: 200px;
}

.forum-hero-section .container {
  width: 100%;
  margin: 0 auto;
  color: white;
}

@media (min-width: 1200px) {
  .forum-hero-section .container {
    width: 70%;
  }
}

.forum-hero-section .container .hero-big-text {
  font-weight: 900;
}

.forum-hero-section .container .hero-subtext {
  font-weight: 500;
}

.forum-hero-section .container .hero-button {
  background-color: #60d66a;
  border: none;
}

.forum-search {
  width: 100%;
}

.forum-search-input {
  border: solid;
  width: 250px;
  height: auto;
  border-radius: 20px;
  border-color: #60d66a;
}

.forum-search-input input {
  border: none;
  outline: none;
}

.forum-search-input button {
  background: none;
  outline: none;
  border: none;
}

.forum-search-input button .fa-search {
  color: #60d66a;
}

.table {
  margin: 20px auto;
}

.table thead {
  background-color: #60d66a;
}

.table thead th {
  font-size: 20px;
}

.table tbody {
  background-color: wheat;
}

.table tbody tr {
  border-top-style: solid;
  border-top-color: #60d66a;
}

.table tbody .refreshness-image img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.writer-date, .read-more {
  display: block;
}

body {
  font-family: 'Cardo', serif;
}

header {
  background-color: #ffffff;
}

header nav {
  width: 100%;
}

header nav .header-logo {
  height: 70px;
  margin-top: .5rem;
  width: 150px;
}

header nav a {
  color: #302e2e;
}

header nav a:hover {
  color: #60d66a;
}

header .navbar-nav {
  margin-left: auto;
  margin-top: .5rem;
}

header .navbar-nav li {
  margin-right: 25px;
}

header .header-right-icons {
  margin-right: 20px;
  margin-top: .5rem;
}

header .header-right-icons i {
  margin-right: 20px;
  cursor: pointer;
}

header .header-right-icons i:hover {
  color: #60d66a;
}

/*Hero Section STARTED */
.hero-section {
  background: url(/Images/MaskGroup1.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section .container {
  width: 100%;
  margin: 0 auto;
  color: white;
}

@media (min-width: 1200px) {
  .hero-section .container {
    width: 70%;
  }
}

.hero-section .container .hero-big-text {
  font-weight: 900;
}

.hero-section .container .hero-subtext {
  font-weight: 500;
}

.hero-section .container .hero-button {
  background-color: #60d66a;
  border: none;
}

.featured-topic {
  margin-top: -40px;
  background-color: #ffffff;
}

.featured-topic h1 {
  text-transform: capitalize;
  font-size: 1.6rem;
}

@media (min-width: 1200px) {
  .featured-topic h1 {
    margin-top: -30px;
  }
}

.featured-topic p {
  font-size: 1rem;
  color: #60d66a;
}

.featured-grid {
  margin-top: -120px;
  width: 80vw;
}

.featured-grid a:hover {
  -webkit-text-decoration-color: #60d66a;
          text-decoration-color: #60d66a;
}

.featured-grid .fitness {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(transparent)), url("/Images/woman-wearing-black-sports-bra-and-jogger-shorts-smiling-936075.png");
  background: linear-gradient(#000, transparent), url("/Images/woman-wearing-black-sports-bra-and-jogger-shorts-smiling-936075.png");
  background-size: cover;
  background-position: center;
  height: 200px;
}

.featured-grid .fitness h3 {
  color: #ffffff;
  font-weight: 900;
  padding-top: 25%;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .featured-grid .fitness h3 {
    padding-top: 30%;
  }
}

.featured-grid .wellness {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(transparent)), url("/Images/smiling-students-discussing-day-in-college-4172961.png");
  background: linear-gradient(#000, transparent), url("/Images/smiling-students-discussing-day-in-college-4172961.png");
  background-size: cover;
  background-position: center;
  height: 200px;
}

.featured-grid .wellness h3 {
  color: #ffffff;
  font-weight: 900;
  padding-top: 25%;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .featured-grid .wellness h3 {
    padding-top: 30%;
  }
}

.featured-grid .nutrition {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(transparent)), url("/Images/person-holding-green-leafed-plant-2280551.png");
  background: linear-gradient(#000, transparent), url("/Images/person-holding-green-leafed-plant-2280551.png");
  background-size: cover;
  background-position: center;
  height: 200px;
}

.featured-grid .nutrition h3 {
  color: #ffffff;
  font-weight: 900;
  padding-top: 25%;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .featured-grid .nutrition h3 {
    padding-top: 30%;
  }
}

.featured-grid .mental {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(transparent)), url("/Images/computer-desk-laptop-stethoscope-48604.png");
  background: linear-gradient(#000, transparent), url("/Images/computer-desk-laptop-stethoscope-48604.png");
  background-size: cover;
  background-position: center;
  height: 200px;
}

.featured-grid .mental h3 {
  color: #ffffff;
  font-weight: 900;
  padding-top: 25%;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .featured-grid .mental h3 {
    padding-top: 20%;
  }
}

.featured-grid .podcast {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(transparent)), url("/Images/greyscale-photography-of-condenser-microphone-765139.png");
  background: linear-gradient(#000, transparent), url("/Images/greyscale-photography-of-condenser-microphone-765139.png");
  background-size: cover;
  background-position: center;
  height: 200px;
}

.featured-grid .podcast h3 {
  color: #ffffff;
  font-weight: 900;
  padding-top: 25%;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .featured-grid .podcast h3 {
    padding-top: 20%;
  }
}

.contribute-section {
  background: -webkit-gradient(linear, left top, left bottom, from(#60d66a), to(transparent)), url("/Images/computer-desk-laptop-stethoscope-48604.png");
  background: linear-gradient(#60d66a, transparent), url("/Images/computer-desk-laptop-stethoscope-48604.png");
  background-size: cover;
  padding: 50px 0;
  margin-top: 20px;
}

.contribute-section .video-thumbnail {
  height: 300px;
  width: 300px;
}

.contribute-section .contri-text {
  color: #ffffff;
  margin-top: 15px;
}

@media (min-width: 1200px) {
  .contribute-section .contri-text {
    margin-top: 30px;
    text-align: left;
  }
}

.contribute-section .contri-text h3 {
  font-size: 30px;
}

.contribute-section .contri-text p {
  line-height: 25px;
}

.editor-section {
  background-color: whitesmoke;
}

.editor-section .editor-heading {
  font-size: 25px;
  font-weight: bolder;
}

.editor-section .editor-post {
  text-align: left;
}

.editor-section .editor-post h4 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 8px;
}

.editor-section .editor-post .writer-date {
  font-size: 11px;
  font-weight: bold;
}

.editor-section .editor-post .writer-date a {
  color: #60d66a;
}

.editor-section .editor-post .writer-date a:hover {
  color: #302e2e;
}

.editor-section .editor-post .read-more {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: -3px;
}

.editor-section .editor-post .read-more a {
  color: #60d66a;
}

.editor-section .editor-post .read-more a:hover {
  color: #302e2e;
  font-size: 15px;
}

.home-quote {
  background: url(/Images/asset1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
}

.exclusive-section {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#60d66a), to(transparent)), url("/Images/woman-holding-red-book-binder-3762803.png");
  background: linear-gradient(#60d66a, transparent), url("/Images/woman-holding-red-book-binder-3762803.png");
  background-size: cover;
  background-position: center;
}

.exclusive-section .exclucive-title {
  padding-top: 60px;
  padding-bottom: 40px;
}

.exclusive-section img {
  height: 200px;
  width: 200px;
}

.exclusive-section .exclusive-topic {
  font-size: 25px;
  font-weight: 900;
  padding-top: 10px;
  padding-bottom: 10px;
}

.exclusive-section .star-rating {
  padding-bottom: 60px;
}

.blog-section {
  background-color: #ffffff;
  cursor: pointer;
}

.blog-section .blog-heading {
  margin: 0 auto;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog-section .blog-heading:hover {
  color: #60d66a;
}

.blog-section .writer-date, .blog-section .read-more {
  display: none;
}

.newsletter-section {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#302e2e), to(transparent)), url("/Images/Mask Group 4.png");
  background: linear-gradient(#302e2e, transparent), url("/Images/Mask Group 4.png");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.newsletter-section .newsletter-logo {
  width: 150px;
}

.newsletter-section input {
  font-weight: 700;
}

.footer-section-1 {
  width: 100%;
  background-color: #302e2e;
  color: white;
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-section-1 a {
  color: white;
}

.footer-section-1 a:hover {
  color: #60d66a;
}

.footer-section-1 .footer-about {
  width: 100%;
  text-align: left;
}

.footer-section-1 .footer-about h3 {
  font-weight: 900;
  color: #60d66a;
}

.footer-section-1 .footer-about a {
  color: #60d66a;
}

.footer-section-1 .footer-social h3 {
  font-weight: 900;
  color: #60d66a;
}

.footer-section-1 .footer-social a {
  color: #60d66a;
}

.footer-section-1 .footer-social i {
  color: #ffffff;
  font-size: 30px;
  padding-left: 15px;
  margin-top: 5px;
}

.footer-section-1 .footer-social i:hover {
  color: #60d66a;
}

.footer-2 {
  background-color: #000;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */